In [ ]:
Day - 2:
    Ajenda:
        1. Iterative Statements
        2. Jumping statements
        3. Numbers
        4. Strings
        5. List

In [ ]:
1. Iterative Statements: The numbers of statements can be executed number of time(s) based on a condition value
    1. while and while else
    2. for and for else [Working with collection]

In [ ]:
'''
    while:
        Syntax:
            initialization -> Will executes only one time
            while expression:
                statements
                updateValue
'''
i = 1
while i<=10:
    print("CCC Python Training")
    i = i+1 # i += 1

CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training
CCC Python Training

In [ ]:
#Multiplication table
number = int(input("Enter a number:")) 
i = 1 #Initialization
while i<=10:
    print(number,"*",i,"=",number*i)
    i += 1

Enter a number: 15

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [ ]:
'''
    while else:
        Initialization
        while expression:
            statements1
            updattionOfValue
        else:
            statements2
    Note: statements1 will be executed until expression value becomes true, Whenever expression value is false then statements2 will be 
    executed for only one time
'''
i = 1
while i<5: #1<5[T], 2<5[T], 3<5[T], 4<5[T], 5<5[False]
    print("value of i is:",i)
    i += 1
else:
    print("Value of i reaches to:",i)

value of i is: 1
value of i is: 2
value of i is: 3
value of i is: 4
Value of i reaches to: 5

In [ ]:
'''
    for loop: Extract data from collection(s), we can use for loop
    SYntax:
        for variable in Collection:
            statements
    
    range(start,stop,step)
        start: From which number you want to start
        stop: Before which number you want to stop
        step: what is the updation value [By defualt : 1]
'''
for i in range(10):
    print(i,end=" ")
print()
for i in range(1,10):
    print(i,end=" ")
print()
for i in range(1,10,2): #for(int i=1;i<10;i+=2) in c language
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 3 5 7 9

In [ ]:
#Print multiples of 13
for i in range(13,131,13):
    print(i,end=" ")

13 26 39 52 65 78 91 104 117 130

In [ ]:
#print each charcter in string
'''
    Input: Jeevan
    x -> J
    Updation: e, e, v, a, n
'''
for x in "Jeevan":
    print(x)

J
e
e
v
a
n

In [ ]:
'''
    for else:
        Syntax:
            for variable in Collection:
                statements1
            else:
                statements2
    Note: If variable is not pointing any of the collection data then statements2 will be executed, Otherwise statements1 will 
    be executed
'''
for x in range(2,10):
    print("value of x is:",x)
else:
    print("value of x reaches to:",x)

value of x is: 2
value of x is: 3
value of x is: 4
value of x is: 5
value of x is: 6
value of x is: 7
value of x is: 8
value of x is: 9
value of x reaches to: 9

In [ ]:
2. Jumping statements:
    1. break: Used to come out from loop [**Only one loop]
    2. continue: Used to skip the next execution [Skips only one execution]
    3. pass: It is an empty statement [There is no use of it]

In [ ]:
#Print number from 1 to 100, but whenever value reaches to 45 then stop printing
for i in range(1,100):
    if(i==45):
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44

In [ ]:
#print number from 1 - 100, but dont print the multiple of 5
for i in range(1,100):
    if i%5==0:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [ ]:
i = 1
while i<=100:
    if i%5==0:
        continue
    print(i,end=" ")
    i += 1

1 2 3 4

In [ ]:
#Pass: Used to not to do anything
for i in range(10):
    if i%2==0:
        print(i)
    else:
        pass #Empty statement => in C lanugage an empty statement is ;

0
2
4
6
8

In [ ]:
'''
    Print even numbers until reaches to first odd number
'''
coll = [int(x) for x in input("Enter even numbers and only one odd number:").split()]
for i in coll:
    if i%2==1:
        print(i)
        break
    else:
        print("Even Number")

Enter even numbers and only one odd number: 10 11 15 14 752 3 6

Even Number
11

In [ ]:
"Jeevan " * 5

'Jeevan Jeevan Jeevan Jeevan Jeevan '

In [ ]:
'''
    Input : NUmber of lines
    1
    22
    333
    4444
    55555
'''
for i in range(1,int(input("Enter number of lines:"))+1):
    for j in range(1,i+1):
        print(i,end="")
    print()
#NOte: Dont transform C language code into python language

Enter number of lines: 9

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
for i in range(1,int(input("Enter number of lines:"))+1):
    print(str(i)*i)

Enter number of lines: 5

1
22
333
4444
55555

In [ ]:
'''
    *
    **
    ***
    ****
    *****
    ****
    ***
    **
    *
'''
n = int(input("Enter a number:"))
for i in range(1,n+1):
    print('*' * i)
for i in range(n-1,0,-1): #for(int i=n-1;i>0;i--)
    print('*' * i)

Enter a number: 5

*
**
***
****
*****
****
***
**
*

In [ ]:
Numbers in python:
    1. Python supports following numbers
        1. Integers -> int()
        2. Floating-point number -> float()
        3. Complex number -> complex()

In [ ]:
'''
    Integers:
        1. There is no minimum range and maximum range in python integers 
        2. Formats:
            Another base to integer
            int("Number in string format",base)
                1010 base:2 => DEcimal: 1*2**1 + 1*2**3 = 1*2 + 1*8 = 1+8 = 9
                1010 base:3 => Decimal: 1*3**1 + 1*3**3 = 1*3 + 1*27 = 3 + 27 = 30
        3. Useful functions:
            Integer to another base
            integer -> binary
            integer -> octal
            integer -> hexadecimal
            integr -> String
'''
x = -465132463161536345876816375645346354651467586371564533463451237565431322575613557415633
print(x)
x = 64134651341336137165571624231455351726615453175578186571472513554617256073556345134325436176715546153543617562416557146271632715665715321667581372
print(x)
print(int('100',2))
print(int('100',3))
print(int('101',5))
print(int('100',10))

print(bin(100)) #Base is 2
print(oct(100)) #Base is 8
print(hex(100)) #Base is 16
print(str(100))

-465132463161536345876816375645346354651467586371564533463451237565431322575613557415633
64134651341336137165571624231455351726615453175578186571472513554617256073556345134325436176715546153543617562416557146271632715665715321667581372
4
9
26
100
0b1100100
0o144
0x64
100

In [ ]:
'''
    Float:
        1. By default floating-point data is double precision [After decimal 15 places will be printed]
'''
f = 5.846513
print(f)
f = -8465312.6453126451326513256312
print(f)

f = float('8465132613.4132846513264132')
print(f)

5.846513
-8465312.645312645
8465132613.413284

In [ ]:
'''
    Compelx:
        1. Can be formed with real number and imaginary part
        Eg: 5+6j
'''
print(10+(52+6j)+98.65)

(160.65+6j)

In [ ]:
print(10+5j * 2+6j)
print((10+5j) * (2+6j))#20+60j+10j+30(-1)

(10+16j)
(-10+70j)

In [ ]:
c1 = complex(input("Enter a complex number:"))
c2 = complex(input("Enter a complex number:"))
print(c1 * c2)

Enter a complex number: 10+5j
Enter a complex number: 85+3j

(835+455j)

In [ ]:
Strings:
    1. Def: Sequence of charcters is known as string 
    2. How to declare / read string into python:
        1. using single quotes : Can be used to read data in single line
        2. using double quotes : Can be used to read data in single line
        3. using triple quotes : Can be used to read data in multiple line [Multiline input]
        4. using input() : Used to read input from usee
        5. using str() : Used to convert other types into string
    3. How to access content of string:
        1. The content [single character] of srting could be accessed by using index [Indexing]
            1. index starts from 0 and ending with total Number of characters in srting - 1 [+ve]
                1. How to know the total Number of characters in srting
                    -> Use predefine function known as len()
                        Syntax: len(StringName)
            2. We can do following ways to extract the content of string:
                1. Positive indexing: Reads from left to right
                    Eg: S = "HELLO"
                        0:H 1:E 2:L 3:L 4:O
                2. Negative indexing: Reads from right to left
                    Eg: S = "HELLO"
                        -5:H -4:E -3:L -2:L -1:O
                    **Note: Index value what you are using that must be within the range of index value [0 -> len-1],
                        Otherwise an IndexError will be produced
        2. The content / group of characters also accessed by using indexing, but its known as slicing [Extracting sub-string]:
                1. Positive slicing
                2. Negative slicing
                Syntax:
                    stringName[startIndex:endIndex:counterValue]
                    startIndex: From which index onwards you want to extract
                    endIndex: Before which index you wants to stop extracting
                    counterValue: Which one to read next [By default 1]
                    1. Note: In case absence of:
                            startIndex: By default beginning index
                            endIndex: By default ending index
                    2. Note: Make sure that startIndex value will be less than endINdex value, if not update counter value with
                        negative nunber
                    3. Note: Indexex must be valid
    4. **Strings are immutable, means once you assign data that cannot modified.
    5. Operations:
        1. Multiplication
        2. Concatenation
        3. length
        4. enumerate ...etc
    6. Builtin functions supported by python:
        1. No need to remember built-in / user-defined functions in python
        2. Python providing you an environment to know the list of methods of predefined / user-defined class
        3. String class is str
        4. **How to know the list of methods supported by str class:
            SYntax:
                dir(stringClass/stringCLassObject)
                Eg: dir(str)
                    s = "Jeevan"
                    dir(s)
        5. **How to know the syntax of methods:
            Syntax:
                help(className.methodName)

In [ ]:
s1 = 'Jeevan Kumar'
print(s1,type(s1))
s2 = "Corporate Trainer"
print(s2,type(s2))
s3 = '''Jeevan Kumar,
Corporate Trainer,
Campus Corporate Connect,
Hyderbad'''
print(s3,type(s3))
s3

Jeevan Kumar <class 'str'>
Corporate Trainer <class 'str'>
Jeevan Kumar,
Corporate Trainer,
Campus Corporate Connect,
Hyderbad <class 'str'>

'Jeevan Kumar,\nCorporate Trainer,\nCampus Corporate Connect,\nHyderbad'

In [ ]:
print(len(s1))
print(len(s2))
print(len(s3))

12
17
67

In [ ]:
print(s2)
for x in enumerate(s2):
    print(x,end=",")

Corporate Trainer
(0, 'C'),(1, 'o'),(2, 'r'),(3, 'p'),(4, 'o'),(5, 'r'),(6, 'a'),(7, 't'),(8, 'e'),(9, ' '),(10, 'T'),(11, 'r'),(12, 'a'),(13, 'i'),(14, 'n'),(15, 'e'),(16, 'r'),

In [ ]:
print(s2[7])
print(s2[15])

t
e

In [ ]:
print(s2[20])

IndexError: string index out of range

In [ ]:
for x in enumerate(s2,-len(s2)):
    print(x,end=",")

(-17, 'C'),(-16, 'o'),(-15, 'r'),(-14, 'p'),(-13, 'o'),(-12, 'r'),(-11, 'a'),(-10, 't'),(-9, 'e'),(-8, ' '),(-7, 'T'),(-6, 'r'),(-5, 'a'),(-4, 'i'),(-3, 'n'),(-2, 'e'),(-1, 'r'),

In [ ]:
print(s2[-14])

p

In [ ]:
print(s2)
for x in enumerate(s2):
    print(x,end=",")

Corporate Trainer
(0, 'C'),(1, 'o'),(2, 'r'),(3, 'p'),(4, 'o'),(5, 'r'),(6, 'a'),(7, 't'),(8, 'e'),(9, ' '),(10, 'T'),(11, 'r'),(12, 'a'),(13, 'i'),(14, 'n'),(15, 'e'),(16, 'r'),

In [ ]:
print(s2[::])#Start printing from beginning to ending
print(s2[::2]) #Prints every alternative character
print(s2[::4])#Prints every fourth character of first charcter
print(s2[2:6]) #Total : EndIndex - startIndex = 6-2 = 4
print(s2[8:3]) #Prints nothing
print(s2[8:3:-1]) #Prints data in reverse order from 8 to 4
print(s2[::-1]) #Prints data in reverse order [String reverse]

Corporate Trainer
CroaeTanr
Coear
rpor

etaro
reniarT etaroproC

In [ ]:
#Identify the given string is palindrome or not
s = input("Enter string:")
print(s,"is palindrome") if s == s[::-1] else print(s,"is not a palindrome")

Enter string: madam

madam is palindrome

In [ ]:
print(s2)
for x in enumerate(s2,-len(s2)):
    print(x,end=",")

Corporate Trainer
(-17, 'C'),(-16, 'o'),(-15, 'r'),(-14, 'p'),(-13, 'o'),(-12, 'r'),(-11, 'a'),(-10, 't'),(-9, 'e'),(-8, ' '),(-7, 'T'),(-6, 'r'),(-5, 'a'),(-4, 'i'),(-3, 'n'),(-2, 'e'),(-1, 'r'),

In [ ]:
print(s2[-8:-2:])
print(s2[-5:-14])
print(s2[-5:-14:-1])
print(s2[::-2])

 Train

arT etaro
rnaTeaorC

In [ ]:
s[2] = 'A'

TypeError: 'str' object does not support item assignment

In [ ]:
print("Jeevan " + " Kumar")
print("Jeevan " * 5)

Jeevan  Kumar
Jeevan Jeevan Jeevan Jeevan Jeevan

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [ ]:
#Fromating functions: 
#capitalize:Makes first character as uppercase, rest are lower case 
print("jEevAN KUMAR".capitalize())
print()

#casefold: Will convert all the characters into lowercase [Applied on ASCII and UNICODE also]
print("jeevankumar".casefold())
print("JEEVANKUMAR".casefold())
print("JeevanKumar".casefold())
print()

#lower: Will convert all the characters into lowercase [Applied only on ASCII characters]
print("jeevankumar".lower())
print("JEEVANKUMAR".lower())
print("JeevanKumar".lower())
print()

#swapcase: Converts lower case int upper, upper into lower 
print("jeevankumar".swapcase())
print("JEEVANKUMAR".swapcase())
print("JeevanKumar".swapcase())
print()

#title: Makes first charcter of every word in string into uppercase 
s = "Makes first charcter of every word in string into uppercase"
print(s.title())
print()

#upper: Will convert all the characters into upperrcase
print("jeevankumar".upper())
print("JEEVANKUMAR".upper())
print("JeevanKumar".upper())

Jeevan kumar

jeevankumar
jeevankumar
jeevankumar

jeevankumar
jeevankumar
jeevankumar

JEEVANKUMAR
jeevankumar
jEEVANkUMAR

Makes First Charcter Of Every Word In String Into Uppercase

JEEVANKUMAR
JEEVANKUMAR
JEEVANKUMAR

In [ ]:
#Alignment functions: These following functions takes minimum 1 input [Length of output], maximum 2 input [1.length, 2.Charcter]
#center: Print string in center alignment
print("Jeevan".center(20),"End")
print("Jeevan".center(20,'~'),"End")
#ljust: Print string in left alignment
print("Jeevan".ljust(20),"End")
print("Jeevan".ljust(20,'#'),"End")
#rjust: print string in right alignment
print("Jeevan".rjust(20),"End")
print("Jeevan".rjust(20,'*'),"End")

       Jeevan        End
~~~~~~~Jeevan~~~~~~~ End
Jeevan               End
Jeevan############## End
              Jeevan End
**************Jeevan End

In [ ]:
print(s2)
#COunt: returns number of occurances of given sub-string, if the given string is not avaialable returns 0
print(s2.count('o'))
print(s2.count("or"))
print(s2.count("ner"))
print(s2.count('x'))

Corporate Trainer
2
2
1
0

In [ ]:
#startswith: To know the string starting with any of the given input, Which retunrs True / False
print(s2.startswith('x'))
print(s2.startswith('COr'))
print(s2.startswith('Cor'))

#endswith: To know the string is ending with given input, return True / False
print(s2.endswith('S'))
print(s2.endswith('er'))

False
False
True
False
True

In [ ]:
#find: Used to know the given sub-string index, Returns index value, if substrin is not available returns -1
print("Jeevan".find('an'))
print("Jeevan".find("E"))
help(str.find)

4
-1
Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [ ]:
#index, rindex
print("Jeevan".index('an'))
print("Jeevan".index('X'))
#NOte: In case of substring is not available which will return ValueError

4

ValueError: substring not found

In [ ]:
print(s3)

Jeevan Kumar,
Corporate Trainer,
Campus Corporate Connect,
Hyderbad

In [ ]:
print(s3.index('T'))
print(s3.index('r',25))
print(s3.find('or'))
print(s3.index('or'))
print(s3.find('or',20,25))
print(s3.index('or',22))
print(s3.index('e'))
print(s3.rindex('e'))

24
25
15
15
-1
41
1
62

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#Preparing output format
print("My name is {} and My profession is {} and Working for {}".format("Jeevan Kumar","Corporate Trainer","Campus Corporate Connect"))
print("My name is {0} and My profession is {1} and Working for {2}".format("Jeevan Kumar","Corporate Trainer","Campus Corporate Connect"))
print("My name is {2} and My profession is {0} and Working for {1}".format("Jeevan Kumar","Corporate Trainer","Campus Corporate Connect"))
print("My name is {} and My profession is {} and Working for {}".format("Campus Corporate Connect","Jeevan Kumar","Corporate Trainer"))
print("My name is {n} and My profession is {p} and Working for {c}".format(c="Campus Corporate Connect",n="Jeevan Kumar",p="Corporate Trainer"))

My name is Jeevan Kumar and My profession is Corporate Trainer and Working for Campus Corporate Connect
My name is Jeevan Kumar and My profession is Corporate Trainer and Working for Campus Corporate Connect
My name is Campus Corporate Connect and My profession is Jeevan Kumar and Working for Corporate Trainer
My name is Campus Corporate Connect and My profession is Jeevan Kumar and Working for Corporate Trainer
My name is Jeevan Kumar and My profession is Corporate Trainer and Working for Campus Corporate Connect

In [ ]:
#join: Will be used to join given string with given character [Between characters]
print('-'.join("Python"))

P-y-t-h-o-n

In [ ]:
#For removal of leading spaces
s = "   Jeevan Kumar   "
print(s,"Ending")

#strip: used to remove all of the leading white spaces [left and right]
print(s.strip(),"Ending")

#lstring: Used to remove leading whitespaces only from left side
print(s.lstrip(),"Ending")

#rstrip: Used to remove leading whitespaces from right side [Doesnt matter]
print(s.rstrip(),"Ending")

   Jeevan Kumar    Ending
Jeevan Kumar Ending
Jeevan Kumar    Ending
   Jeevan Kumar Ending

In [ ]:
#Replace characters
#maketrans: used to change characters [Input and output characters will be supplied]
#translate: used to apply changes

print(s3)
print()
print(s3.translate(s3.maketrans('o','O')))
#If length of input is not matching with length of output characters, Will given an error

Jeevan Kumar,
Corporate Trainer,
Campus Corporate Connect,
Hyderbad

Jeevan Kumar,
COrpOrate Trainer,
Campus COrpOrate COnnect,
Hyderbad

In [ ]:
print(s3.translate(s3.maketrans('o','OO')))

ValueError: the first two maketrans arguments must have equal length

In [ ]:
print(s3.translate(s3.maketrans('aeiou','AEIOU')))

JEEvAn KUmAr,
COrpOrAtE TrAInEr,
CAmpUs COrpOrAtE COnnEct,
HydErbAd

In [ ]:
#replace: Used to replace the character / character(s)
print("Jeevan".replace('a','A'))
print("Jeevan".replace('a','AA'))
print("Jeevan".replace('an','AABB'))

JeevAn
JeevAAn
JeevAABB

In [ ]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#partition, rpartition : Used to make string into only three partitions
print("Jeevan".partition('e'))
print("Jeevan".rpartition('e'))
print('Jeevan'.partition('x'))

('J', 'e', 'evan')
('Je', 'e', 'van')
('Jeevan', '', '')

In [ ]:
#split: used to split string into multiple parts, default partition is space
print(s3)
print(s3.split())
print(s3.split(' ',3))

Jeevan Kumar,
Corporate Trainer,
Campus Corporate Connect,
Hyderbad
['Jeevan', 'Kumar,', 'Corporate', 'Trainer,', 'Campus', 'Corporate', 'Connect,', 'Hyderbad']
['Jeevan', 'Kumar,\nCorporate', 'Trainer,\nCampus', 'Corporate Connect,\nHyderbad']

In [ ]:
print(s3.split('\n'))
s3

['Jeevan Kumar,', 'Corporate Trainer,', 'Campus Corporate Connect,', 'Hyderbad']

'Jeevan Kumar,\nCorporate Trainer,\nCampus Corporate Connect,\nHyderbad'

In [ ]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [ ]:
print(s3.splitlines()) #same as s3.split('\n')

['Jeevan Kumar,', 'Corporate Trainer,', 'Campus Corporate Connect,', 'Hyderbad']

In [ ]:
help(str.splitlines)

Help on method_descriptor:

splitlines(self, /, keepends=False)
    Return a list of the lines in the string, breaking at line boundaries.

    Line breaks are not included in the resulting list unless keepends is given and
    true.

In [ ]:
#zfill: Used to fill 0, in leading white spaces, which requries exactly one argumnet
print("Jeevan".zfill(5))
print("Jeevan".zfill(15))

Jeevan
000000000Jeevan